#container {
  width: 400px;
}



.hidden {
  background-color: white;
  z-index: -1;
  color: white;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  display: inline-block;
  margin: 10px;
}

.revealed {
  border: 1px solid black;
  background-color: green;
  color: black;
  height: 50px;
  width: 50px;
  z-index: 1000;
  text-align: center;
  display: inline-block;
  margin: 10px;
}

.hover {
  background-color: yellow;
  color: yellow;
}

.matched {
  border: 1px solid black;
  background-color: green;
  color: black;
  height: 50px;
  width: 50px;
  z-index: 1000;
  text-align: center;
  display: inline-block;
  margin: 10px;
}
